<div class="project-list-container">
    <img src="/sponge/webui/assets/images/portia-logo.svg" alt="Sponge logo">

    <h3>What would you like to work on today?</h3>
    {{create-project-button projects=model}}
</div>
