<div class="row">
    <div class="col-sm-12">
        <h1 class="display-4" jhiTranslate="home.title">Welcome to Sponge!</h1>
        <p class="lead" jhiTranslate="home.subtitle">Your powerful web crawler</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="home.notlogged.message"> Please login. </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="center">
            <img src="../../content/images/Spider-web.png"></img>
        </div>
    </div>
</div>
