<div>
    <h2>
        <span jhiTranslate="spongeApp.spider.home.title">Spiders</span>
        <button class="btn btn-primary float-right create-spider" [routerLink]="['/', { outlets: { popup: ['spider-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="spongeApp.spider.home.createLabel">
            Create new Spider
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="spiders">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="spongeApp.spider.name">Name</span></th>
            <th><span jhiTranslate="spongeApp.spider.project">Project</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let spider of spiders ;trackBy: trackId">
                <td><a [routerLink]="['../spider', spider.id ]">{{spider.id}}</a></td>
                <td>{{spider.name}}</td>
                <td>
                    <div *ngIf="spider.project">
                        <a [routerLink]="['../project', spider.project?.id ]" >{{spider.project?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../spider', spider.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'spider/'+ spider.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'spider/'+ spider.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
