
<div *ngIf="spider">
    <h2><span jhiTranslate="spongeApp.spider.detail.title">Spider</span> {{spider.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="spongeApp.spider.name">Name</span></dt>
        <dd>
            <span>{{spider.name}}</span>
        </dd>
        <dt><span jhiTranslate="spongeApp.spider.project">Project</span></dt>
        <dd>
            <div *ngIf="spider.project">
                <a [routerLink]="['/project', spider.project?.id]">{{spider.project?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'spider/'+ spider.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
