<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJobLabel" jhiTranslate="spongeApp.job.home.createOrEditLabel">Create or edit a Job</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!job.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="job.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spongeApp.job.startTime" for="field_startTime">Start Time</label>
            <div class="input-group">
                <input id="field_startTime" type="text" class="form-control" name="startTime" ngbDatepicker  #startTimeDp="ngbDatepicker" [(ngModel)]="job.startTime"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="startTimeDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spongeApp.job.endTime" for="field_endTime">End Time</label>
            <div class="input-group">
                <input id="field_endTime" type="text" class="form-control" name="endTime" ngbDatepicker  #endTimeDp="ngbDatepicker" [(ngModel)]="job.endTime"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="endTimeDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spongeApp.job.period" for="field_period">Period</label>
            <input type="number" class="form-control" name="period" id="field_period"
                [(ngModel)]="job.period"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spongeApp.job.periodUnit" for="field_periodUnit">Period Unit</label>
            <input type="text" class="form-control" name="periodUnit" id="field_periodUnit"
                [(ngModel)]="job.periodUnit"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spongeApp.job.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                [(ngModel)]="job.status"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="spongeApp.job.project" for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" [(ngModel)]="job.project" >
                <option [ngValue]="null"></option>
                <option [ngValue]="projectOption.id === job.project?.id ? job.project : projectOption" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
